<div class="container">
    <h1>Proben exportieren</h1>
    <mat-form-field appearance="outline">
        <mat-label>Datum zum exportieren auswählen</mat-label>
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" [formControl]="dateFormControl"
            [min]="minDate" [max]="maxDate">
        <mat-hint><small>TT/MM/JJJJ. Der Export kommt hier hin: <a href="#" (click)="copyPath($event)">{{exportPath}}</a></small></mat-hint>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button class="form-button" color="accent" mat-raised-button (click)="submit()">Exportieren</button>
</div>