<div class="container">
    <div class="action">
        <button class="form-button banner" color="accent" mat-raised-button (click)="submit()">Proben Exportieren</button>
    </div>
    <mat-card class="card" *ngIf="showExportInfo">
        <mat-card-content>
            <div class="row">
                <span class="blink-object dot"></span>
                <p>Zum Exportieren der Proben nach MOLIS die heruntergeladene Datei in den folgenden Pfad kopieren:</p>
                <span class="blink-object dot"></span>
            </div>
            <div class="row">
                {{exportPath}}
                <button mat-icon-button (click)="copyPath($event)"><mat-icon>content_copy</mat-icon></button>
            </div>
        </mat-card-content>
    </mat-card>
</div>