<mat-toolbar class="mat-elevation-z8 header" color="primary">
  <span>
    <div class="header-title" routerLink="/">{{title}}</div>
  </span>
  <span class="small-spacer"></span>
  <div *ngFor="let navLink of primaryNavLinks">
    <span class="small-spacer"></span>
    <button mat-button routerLinkActive="is-active" [routerLink]="navLink.routerLink" class="header-link"
      [disabled]="navLink.disabled">{{navLink.displayName}}<br><small>{{navLink.type}}</small></button>
  </div>
  <span class="small-spacer"></span>
  <mat-slide-toggle (change)="toggleTheme()" class="header-link" [matTooltip]="isDark ? 'Dark mode off': 'Dark mode on'" [checked]="isDark"></mat-slide-toggle>
  <span class="wide-spacer"></span>
  <app-login></app-login>
</mat-toolbar>
<div class="mat-typography app-frame mat-app-background">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="copyright">
    © <span>{{year}}</span> Kajeepan Kandeepan
  </div>
  <div class="version">
    Version: {{version}}
  </div>
</div>