@import '../variables.scss';
.small-spacer {
    margin-left: 10px;
    margin-right: 10px;
}
.wide-spacer {
    flex: 1 1 auto;
}

.header {
    .header-title {
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 32px;
        
    }
    .header-title:hover {
        cursor: pointer;
        
    }

    .header-link {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
}

html, body, app-root, .app-frame {
    height: 100%;
    --bg: #FAFAFA;
    --bg-panel: rgba(255, 255, 255, 1);
    --primary: #2ba671;
    --accent: rgba(184, 245, 248, 1);
    --color-text-grey: #707070;
    --color-text-black: #FFFFFF;
    --triangle: transparent linear-gradient(51deg, #E9EDF8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    --graph:  rgba(223, 226, 234, 1);
    --graph-border: 1px solid rgba(223, 226, 234, 1);
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    color: #e0e0e0;
}

.footer {
    background-color: rgba($color: black, $alpha: 0.8);
    bottom: 0;
    width: 100%;
    height: 25px;
    margin: 0px;
    padding-left: 10px;
    color: white;
    overflow: hidden;
    position: fixed;
    white-space: nowrap;
    z-index: 10;

    .copyright {
        display: inline-block;
        margin-top: 5px;
    }

    .version {
        float:right;
        display: inline;
        position: absolute;
        right: 30px; 
        margin-top: 5px;
    }
}