.small-spacer {
    margin-left: 10px;
    margin-right: 10px;
}
.wide-spacer {
    flex: 1 1 auto;
}

.header {
    .header-title {
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 32px;
    }

    .header-title:hover {
        cursor: pointer;
    }

    .header-link {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
}
.app-frame {
    margin: 0;
    overflow: hidden;
    min-height: 100%;
}
.footer {
    background-color: rgba($color: black, $alpha: 0.8);
    bottom: 0;
    width: 100%;
    height: 25px;
    margin: 0px;
    padding-left: 10px;
    color: white;
    overflow: hidden;
    position: fixed;
    white-space: nowrap;
    z-index: 10;

    .copyright {
        display: inline-block;
        margin-top: 5px;
    }

    .version {
        float:right;
        display: inline;
        position: absolute;
        right: 30px; 
        margin-top: 5px;
    }
}