.sample-form {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;

    mat-form-field {
        width: 100%;
    }

    .checkbox {
        margin-bottom: 15px;
    }

}

.samples-container {
    margin: auto;
    margin-top: 10px;
    max-width: 1500px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 20px;
    row-gap: 20px;
}

.actions-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes append-animate {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.new-sample {
    animation: append-animate 300ms ease-in;
}

.sample {
    transition: all 300ms ease-in-out;
    background: rgb(96,147,172);
    background: linear-gradient(180deg, rgba(96,147,172,1) 71%, rgba(68,111,131,1) 100%);
    color: white;
}

mat-card-subtitle {
    color: white;
}

.sample:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}
  