<div class="container">
    <h1>Gennummer verteilen</h1>
    <form [formGroup]="sampleFormGroup" class="sample-form">
        <mat-form-field appearance="outline">
            <mat-label>Tagesnummer</mat-label>
            <input matInput placeholder="491111111102" (keydown.Tab)="submit($event)" (keyup.enter)="submit($event)"
                formControlName="tagesnummer" type="text" maxlength="13" minlength="10">
            <mat-hint align="start">Tagesnummer eingeben und mit Enter/Tab bestätigen</mat-hint>
        </mat-form-field>
        <mat-checkbox formControlName="assignRack" class="checkbox">Sofort Archivieren?</mat-checkbox>
        <mat-checkbox formControlName="print" class="checkbox">Sofort Drucken?</mat-checkbox>
    </form>
    <div class="actions-container">
        <button mat-raised-button color="primary" (click)="createDummySample()">Fruchtwasserprobe anlegen</button>
    </div>

    <div *ngIf="(samples$ | async) as samples" class="samples-container">
        <mat-card *ngFor="let sample of samples; let i = index;" class="new-sample sample mat-elevation-z8" (click)="onSampleClick(sample.tagesnummer, sample.internal_number)">
            <mat-card-header>
                <mat-card-title><strong>{{sample.tagesnummer}}</strong></mat-card-title>
                <mat-card-subtitle>{{sample.internal_number}} in {{sample.full_rack_position}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Erstellt am {{sample.created_at}} von {{sample.created_by|titlecase}}</p>
                <p *ngIf="sample.archived">Archiviert am {{sample.archived_at}} von {{sample.archived_by|titlecase}}</p>
            </mat-card-content>
            <mat-card-actions *ngIf="i === 0">
                <button mat-mini-fab color="warn" (click)="deleteSample(sample.tagesnummer)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <br />
    <br />
    <br />
</div>