@import 'src/variables.scss';
.sample-form {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    mat-form-field {
        width: 100%;
    }
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.samples-container {
    margin: auto;
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 100px;

    row-gap: 15px;
}


@keyframes append-animate {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.new-sample {
    animation: append-animate 300ms ease-in;
}

.sample {
    transition: all 300ms ease-in-out;
    background: $card-background;
}

.sample:hover {
    transform: scale(1.02);
    filter: brightness(0.9);
}