/* For use in src/lib/core/theming/_palette.scss */
$md-primarypalette: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-secondarypalette: (
    50 : #ede7f6,
    100 : #d1c4e9,
    200 : #b39ddb,
    300 : #9575cd,
    400 : #7e58c2,
    500 : #673ab7, // primary
    600 : #5f34b0,
    700 : #542ca7,
    800 : #4a259f,
    900 : #391890,
    A100 : #d4c7ff,
    A200 : #ad94ff,
    A400 : #8661ff,
    A700 : #7347ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette($md-primarypalette, 400);
$angular-accent: mat.define-palette($md-secondarypalette, 200);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);
@import "./variables";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  height: 100vh;
}


.container {
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
  color: $text-color-light;
}

.warn-snackbar {
  --mdc-snackbar-container-color: #812121;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
}

.success-snackbar {
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
}