<div class="container">
    <h1>Probe im Archiv einlagern</h1>
    <form [formGroup]="sampleFormGroup" class="sample-form">
        <mat-form-field appearance="outline">
            <mat-label>Tagesnummer</mat-label>
            <input matInput placeholder="491111111102" (keydown.Tab)="submit($event)" (keyup.enter)="submit($event)"
                formControlName="tagesnummer" type="text" maxlength="13" minlength="10" autocomplete="off">
            <mat-hint align="start">Tagesnummer eingeben und mit Enter/Tab bestätigen</mat-hint>
        </mat-form-field>
    </form>

    <app-samples-table *ngIf="(samples$ | async) as samples" [samples]="samples" [displayedColumns]="displayedColumns"></app-samples-table>
    <br />
    <br />
    <br />

    <app-confetti *ngIf="archivedSample"></app-confetti>
</div>