.sample-form {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    mat-form-field {
        width: 100%;
    }
}

.samples-container {
    margin: auto;
    margin-top: 10px;
    max-width: 1500px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 20px;
    row-gap: 20px;
}

@keyframes append-animate {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.sample {
    transition: filter 300ms ease-in-out;
}

.new-sample {
    animation: append-animate .3s ease-in;
}

.sample:hover {
    filter: brightness(0.9);
}