@import '../../variables.scss';
.card {
    width: 300px;
    height: 150px;
    position: absolute;
    box-shadow: -1vmin 1vmin 2vmin rgba($color: #000000, $alpha: 0.2);
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    
    background-color: $primary-color-light;
    color: $text-color-light;
    
    top: 40%;
    left: 40%;

    .big-card {
        border-radius: 1vmin;
    }
}

.card-content {
    margin: 10px 0 10px 0;
}

.mat-divider {
    border-top-color: $text-color-light;
}

.card-container {
    transition: transform 400ms ease;
    min-width: 100vh;
    min-height: 100vh;
    overflow: hidden;
    :hover {
        cursor: pointer;
    }
}


.header {
    margin: 20px;
}
.card-container:hover>.card {
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-container:hover>.big-card:nth-child(1) {
    transform: translate(0%,0%);
}

.card-container:hover>.big-card:nth-child(2) {
    transform: translate(150%, 0%);
}

.card-container:hover>.big-card:nth-child(3) {
    transform: translate(-150%, 0%);
}

.card-container:hover>.big-card:nth-child(4) {
    transform: translate(0%, 150%);
}

